
#config AuthJS
AUTH_SECRET=08a0ff74-a0da-4b52-a43a-9193eacc601e

#Config GoogleAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#CONFIG BACKEND
BACKEND_URL=

#PUBLICABLE
NEXT_PUBLIC_BACKEND_URL=

